@import base
@import compass
@import blueprint
@import blueprint/scaffolding
@import compass/css3
@import "compass/css3/transform"
@import "compass/typography/lists/bullets"
@import application.sass

.gallery
  background: red
  height: 50px
  width: 50px
