@import application.sass

#content_box_gallery
  height: 550px
  margin-top: 10px
  position: relative
  background: rgba(0,0,0, 0.5)
  padding: 30px
  .logo
    height: 30px
    float: left
    h1
      color: rgba(255,255,255, 0.6)
      text-decoration: none
      padding: 20px
      float: left
  .nav
    float: right
    font-size: 20px
    padding-top: 20px
    ul
      +horizontal-list
      li
        margin-left: 20px
#pic_container
  padding: 40px
  width: 100%
  .pic
    background: red
    margin-right: 65px
    width: 220px
    margin-bottom: 30px
    float: left
    font-weight: bold
    color: rgba(white, 0.5)
    a
      height: 150px
      width: 150px

  .pic_last
    background: red
    width: 220px
    margin-bottom: 30px
    float: left
    font-weight: bold
    color: rgba(white, 0.5)

